doctype html
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html.no-js(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | #{options.title} | #{options.subtitle}

    meta(name="application-name", content=options.title)
    meta(name="description", content=options.descriptionLong)
    meta(name="url", content=options.url)
    meta(name="robots", content="index,follow,noodp")
    meta(name="googlebot", content="index,follow")
    meta(name="google", content="nositelinkssearchbox")
    meta(name="google-site-verification", content="qcS0gHSzbKDgOAyWbPJSpvBhvmrguIyl4_HxSOVwqcs")

    //- Facebook
    meta(property="fb:app_id", content=options.fbId)
    meta(property="og:url", content=options.url)
    meta(property="og:site_name", content=options.title)
    meta(property="og:title", content="#{options.title} | #{options.subtitle}")
    meta(property="og:description", content=options.descriptionLong)
    meta(property="og:image", content="#{options.url}facebook.png")

    //- Twitter
    meta(name="twitter:card", content=options.descriptionLong)
    meta(name="twitter:site", content="@adambrgmn")
    meta(name="twitter:creator", content="@adambrgmn")
    meta(name="twitter:url", content=options.url)
    meta(name="twitter:title", content="#{options.title} | #{options.subtitle}")
    meta(name="twitter:description", content=options.descriptionLong)
    meta(name="twitter:image", content="#{options.url}facebook.png")

    //- Apple
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    meta(name="apple-mobile-web-app-title", content=options.title)

    //- Windows
    meta(name="application-name" content=options.title)
    meta(name="msapplication-TileColor" content=options.themeColor)
    meta(name="msapplication-TileImage" content="#{options.url}icons/mstile-144x144.png")
    meta(name="msapplication-square70x70logo" content="#{options.url}icons/mstile-70x70.png")
    meta(name="msapplication-square150x150logo" content="#{options.url}icons/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo" content="#{options.url}icons/mstile-310x150.png")
    meta(name="msapplication-square310x310logo" content="#{options.url}icons/mstile-310x310.png")

    //- Android
    meta(name="theme-color", content=options.themeColor)
    meta(name="mobile-web-app-capable", content="yes")

    //- Icons
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="icons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="icons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="icons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed", sizes="60x60", href="icons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed", sizes="120x120", href="icons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed", sizes="76x76", href="icons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed", sizes="152x152", href="icons/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="icons/favicon-196x196.png", sizes="196x196")
    link(rel="icon", type="image/png", href="icons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="icons/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="icons/favicon-128.png", sizes="128x128")

    each file, index in files.css
      link(href=file, rel="stylesheet")
  body
    if (options.appMountId)
      .container(id=options.appMountId)!= options.app

    each file, key in files.chunks
      script(src=file)