doctype
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html.no-js(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | #{options.title} | #{options.subtitle}

    include ./includes/metatags

    link(href=files.style, rel="stylesheet")
  body
    if (options.appMountId)
      .container(id=options.appMountId)!= options.app

    script!= files.manifest
    script(src=files.vendor)
    script(src=files.bundle)
    include ./includes/analytics